<div class="s-q-item__footer">
  {#if notes} 
    {notes} 
    {#if sources !== undefined && sources.length > 0 }
      &ndash;
    {/if} 
  {/if} 
  {#if sources !== undefined && sources.length > 0} 
    {#if sources.length > 1}
      Quellen: 
    {:else} 
      Quelle: 
    {/if} 
    {#each sources as source, index}
      {#if source.text !== ''}
        {#if source.link && source.link.url && source.link.isValid}
          <a href="{source.link.url}" target="blank" rel="noopener noreferrer">{source.text}</a>
        {:else}
          {source.text}
        {/if}
        {#if index !== sources.length - 1 && sources[index + 1] !== ''}
          , 
        {/if}
      {/if}
    {/each} 
  {/if} 
</div>

<script>
  export let notes;
  export let sources;
</script>