<div class="s-q-item q-isotype" style="opacity: 0;">
  {%- include "./header.html" %} {%- include "./legend.html" %} {% if item.data and item.data.length > 1 %} {%- for row in
  item.data.slice(1) %}
  <div class="q-isotype-row">
    <div class="q-isotype-row-title s-font-text-s s-font-text-s--strong">{{ row[0] }}</div>
    {%- if item.options.iconsOneRow%}
    <div class="q-isotype-icon-row">
      {% for value in row %} {% set currentCategoryIndex = loop.index0 %} {% if currentCategoryIndex > 0 %} {% for i in range(row[currentCategoryIndex])
      -%} {% if item.icons and item.icons[currentCategoryIndex - 1] %}
      <div class="q-isotype-icon-container" style="width: {{ item.maxAmount }}%;">
        {% if item.icons[currentCategoryIndex - 1].svg %}
        <div class="q-isotype-icon-svg" style="{{ item.icons[currentCategoryIndex - 1].style }};">
          {{ item.icons[currentCategoryIndex - 1].svg | safe }}
        </div>
        {% else %}
        <div class="q-isotype-icon-png" style="background-image: url('{{ item.icons[currentCategoryIndex - 1].url }}');"></div>
        {%- endif %}
      </div>
      {%- endif %} {%- endfor %} {%- endif %} {%- endfor %}
    </div>
    {% else %} {% for value in row %} {% set currentCategoryIndex = loop.index0 %}
    <div class="q-isotype-icon-row">
      {% if currentCategoryIndex > 0 %} {% for i in range(row[currentCategoryIndex]) -%} {% if item.icons and item.icons[currentCategoryIndex
      - 1] %}
      <div class="q-isotype-icon-container" style="width: {{ item.maxAmount }}%;">
        {% if item.icons[currentCategoryIndex - 1].svg %}
        <div class="q-isotype-icon-svg" style="{{ item.icons[currentCategoryIndex - 1].style }};">
          {{ item.icons[currentCategoryIndex - 1].svg | safe }}
        </div>
        {% else %}
        <div class="q-isotype-icon-png" style="background-image: url('{{ item.icons[currentCategoryIndex - 1].url }}');"></div>
        {%- endif %}
      </div>
      {%- endif %} {%- endfor %} {%- endif %}
    </div>
    {%- endfor %} {%- endif %}
  </div>
  {%- endfor %} {%- endif %} {%- include "./footer.html" %}
</div>