{#if item.data && item.data.length > 1}
  {#each item.data.slice(1) as row, index}
    <div class="q-isotype-row">
      <div class="q-isotype-row-title s-font-title-xs">{ row[0] }</div>
    {#if item.options && item.options.iconsOneRow}
      <div class="q-isotype-icon-row">
        {#each row as value, currentCategoryIndex}
          {#if currentCategoryIndex > 0 }  
            {#each newArray(row[currentCategoryIndex]) as value, i}
              {#if item.icons && item.icons[currentCategoryIndex-1]}
                <div class="q-isotype-icon-container" class:q-isotype-lowlight={isLowlight(currentCategoryIndex)} style="width: {maxAmountWidth}%;">
                  {#if item.icons[currentCategoryIndex - 1].svg }
                    <div class="q-isotype-icon-svg" style="{ item.icons[currentCategoryIndex - 1].style };">
                      <svg>
                        <use xlink:href="#{item.icons[currentCategoryIndex - 1].key}"></use>
                      </svg>
                    </div>  
                  {:else}
                    <div class="q-isotype-icon-png" style="background-image: url('{ item.icons[currentCategoryIndex - 1].url }');"></div>
                  {/if}
                </div>
              {:else}
                <div class="q-isotype-icon-container" class:q-isotype-lowlight={isLowlight(currentCategoryIndex)} style="width: { maxAmountWidth }%;">
                  <div class="q-isotype-icon-svg" style="width: 100%;">
                    <svg>
                      <use xlink:href="#no-icon-default-svg"></use>
                    </svg>
                  </div>
                </div>
              {/if } 
            {/each} 
          {/if }
        {/each}
      </div>
    {:else}
      {#each row as value, currentCategoryIndex}
        {#if currentCategoryIndex > 0}
          <div class="q-isotype-icon-row" class:q-isotype-lowlight={isLowlight(currentCategoryIndex)}>
            {#if categories.length === 1 && (row[currentCategoryIndex] == 0 || row[currentCategoryIndex] == null)}
              <div class="q-isotype-icon-container" style="width: { maxAmountWidth }%;">
                <div class="q-isotype-icon-png"></div>
              </div>
            {:else}
              {#each newArray(row[currentCategoryIndex]) as i}
                {#if item.icons && item.icons[currentCategoryIndex - 1] } 
                  <div class="q-isotype-icon-container" style="width: { maxAmountWidth }%;">
                    {#if item.icons[currentCategoryIndex - 1].svg }
                      <div class="q-isotype-icon-svg" style="{ item.icons[currentCategoryIndex - 1].style };">
                        <svg>
                          <use xlink:href="#{item.icons[currentCategoryIndex - 1].key}"></use>
                        </svg>
                      </div>
                    {:else}
                      <div class="q-isotype-icon-png" style="background-image: url('{ item.icons[currentCategoryIndex - 1].url }');"></div>
                    {/if}
                  </div>
                {:else}
                  <div class="q-isotype-icon-container" style="width: { maxAmountWidth }%;">
                    <div class="q-isotype-icon-svg" style="width: 100%;">
                      <svg>
                        <use xlink:href="#no-icon-default-svg"></use>
                      </svg>
                    </div>
                  </div>
                {/if}
              {/each}
            {/if} 
          </div>
        {/if}
      {/each} 
    {/if}
    </div>
  {/each}
{/if} 


<script>
  export let item;
  export let categories;
  export let maxAmountWidth;
  export let isLowlight;

  // this function will return an array with the amount of entries by the value of the isotype row value
  function newArray(range) {
    if (range && range > 0) {
      return new Array(range);
    }
    return new Array(0);
  }
</script>