<div class="s-q-item q-isotype" style="opacity: 0;">
  <Header {item} {displayOptions} />
  <Legend {item} {categories} {isLowlight} />
  <Isotype {item} {categories} {maxAmountWidth} {isLowlight} />
  <Footer {item} {linkToCSV} />
</div>

<script>
  import Header from './Header.html';
  import Legend from './Legend.html';
  import Isotype from './Isotype.html'
  import Footer from './Footer.html';

  export let item;
  export let categories;
  export let maxAmountWidth;
  export let linkToCSV;
  export let displayOptions;

  function isLowlight(index) {
    return item.options && item.options.highlightColumn !== null && item.options.highlightColumn !== undefined && item.options.highlightColumn !== index
  }
</script>