$legend-size: 26px;

.q-isotype {
  opacity: 1 !important;
  display: flex;
  flex-direction: column;

  &-row {
    margin-bottom: 24px;
    &-title {
      word-break: break-word;
    }
    &--compare {
      display: flex;
      flex-direction: row;
    }
    &--margin {
      margin-bottom: 16px;
    }
  }
}

.q-isotype-legend {
  display: flex;
  line-height: $legend-size;
  flex-wrap: wrap;

  &-container {
    display: flex;
    margin-bottom: 12px;
    margin-right: 8px;
  }

  &-svg {
    margin-right: 4px;
    height: $legend-size;
    width: $legend-size;
  }

  &-svg svg {
    height: 100%;
    width: 100%;
  }
}

.q-isotype-icon-row {
  display: flex;
  flex-wrap: wrap;
}

.q-isotype-icon-container {
  margin-top: 4px;
  margin-right: 4px;
  &--square {
    min-width: 20px;
    max-width: 184px;
    min-height: 20px;
    max-height: 184px;
  }

  &--horizontal {
    min-width: 20px;
    max-width: 184px;
    min-height: 10px;
    max-height: 92px;
  }

  &--vertical {
    min-width: 10px;
    max-width: 92px;
    min-height: 20px;
    max-height: 184px;
  }
}

.q-isotype-icon-svg {
  padding-bottom: 100%;

  &--horizontal {
    height: 50%;
  }

  &--vertical {
    height: 100%;
  }
}

.q-isotype-icon-svg {
  position: relative;

  & svg {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.q-isotype-lowlight {
  opacity: 0.35;
}

.q-isotype-hidden-legend {
  visibility: hidden;
  height: 0;
}

.q-isotype-icon-block--first {
  margin-right: 48px;
}

.q-isotype-icon-block {
  width: calc(50% - 24px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
